{% extends 'base.html' %}
{% load static %}

{% block title %} Начало проекта {% endblock %}

{% block nav %}
    {% for item in nav %}
        {% if forloop.counter == 1 %}
    <a href={{ item.href }} class="desktop active">{{ item.name }}</a>
        {% else %}
    <a href={{ item.href }} class="desktop">{{ item.name }}</a>
        {% endif %}
    {% endfor %}
    <!--<a href="/" class="mobile"><img src="{% static 'images/home.png' %}" alt=""></a>-->
    <!--<a href="/article/1" class="mobile"><img src="{% static 'images/content.png' %}" alt=""></a>-->
    <!--<a href="/audios" class="mobile"><img src="{% static 'images/audio.png' %}" alt=""></a>-->
    <!--<a href="/quizzes" class="mobile"><img src="{% static 'images/quiz.png' %}" alt=""></a>-->
    <!--<a href="/references" class="mobile"><img src="{% static 'images/reference.png' %}" alt=""></a>-->
    <a href="/" class="mobile"><img src="{{MEDIA_URL}}img/home.png" alt=""></a>
    <a href="/article/1" class="mobile"><img src="{{MEDIA_URL}}img/content.png" alt=""></a>
    <a href="/audios" class="mobile"><img src="{{MEDIA_URL}}img/audio.png" alt=""></a>
    <a href="/quizzes" class="mobile"><img src="{{MEDIA_URL}}img/quiz.png" alt=""></a>
    <a href="/references" class="mobile"><img src="{{MEDIA_URL}}img/reference.png" alt=""></a>

{% endblock %}

{% block info %}
<ul>
    {% for title in titles %}
        <li><a href="/article/{{forloop.counter}}">{{title}}</a>
        </li>
    {% endfor %}

</ul>

{% endblock %}

{% block content %}

<h1>{{title}}</h1>

<p>В современном общественном сознании преобладает упрощенное представление об электрификации, перспективном
    планировании, что в значительной степени обусловлено критическим отношением к опыту социализма за последние 30 лет.
    В этой общественной атмосфере выросло новое поколение россиян, не осознающее значимость созданного предшественниками
    экономического &laquo;фундамента&raquo; современной России, что в условиях переживаемого сегодня вызова цифровой
    эпохи оборачивается отсутствием мотивации и духовной опоры для адекватного ответа на реалии XXI в. Энергетические
    возможности нового технологического скачка также осознаются недостаточно полно.</p>
<p>Между тем, история разработки и реализации плана ГОЭЛРО позволяет обобщить положительный опыт и дает хорошие
    возможности для стимулирования активной инновационной деятельности молодежи с опорой на исторические, научные и
    технологические ценности предшествующей эпохи. План ГОЭЛРО является одним из успешных &laquo;кейсов&raquo;.
    Инновационность этого проекта, успешно реализованного на протяжении 1921-1931 гг., состояла в масштабности
    (на территории всей страны), концентрации усилий (научных, интеллектуальных, технических, экономико-организационных)
    для ответа на вызовы мировой электротехнической революции, в перспективном стратегическом планировании.
    Электрификация явилась главным фактором и мультипликатором индустриализации СССР, так как способствовала развитию
    энергетической, транспортной и машиностроительной отраслей. Предстоящий юбилей плана ГОЭЛРО, принятого VIII
    съездом Советов 23 декабря 1920 г., позволяет восстановить преемственность экономического развития России,
    обобщить успешный российский ответ на технологический вызов первой половины ХХ в., воздать дань благодарности
    ученым, организаторам и исполнителям первого в мире перспективного плана электрификации в общенациональном
    масштабе.</p>

<h2>Авторский коллектив</h2>
{% for author in authors %}
    {% for item in author %}
<p>{{ item }}</p>
    {% endfor %}
{% endfor %}

{% endblock %}